# PostgreSQL Databases URLs
# Cambiar con tus propias URLs de conexión
USERS_DB_URL="postgresql://usuario:contraseña@host:puerto/users_db"
SUBSCRIPTIONS_DB_URL="postgresql://usuario:contraseña@host:puerto/subscriptions_db"
MUSIC_DB_URL="postgresql://usuario:contraseña@host:puerto/music_db"
LIKES_DB_URL="postgresql://usuario:contraseña@host:puerto/likes_db"
MATCHES_DB_URL="postgresql://usuario:contraseña@host:puerto/matches_db"
CHAT_DB_URL="postgresql://usuario:contraseña@host:puerto/chat_db"

# Server Configuration
PORT=3000
NODE_ENV=development
